
*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
margin:0;
background:#101827;
}

.phone{
max-width:420px;
margin:auto;
min-height:100vh;
background:white;
}

.header{
background:#24419b;
color:white;
padding:28px 20px;
font-size:24px;
font-weight:bold;
}

.content{
padding:22px;
}

.alert{
background:#ffe1e1;
padding:15px;
border-radius:12px;
margin:15px 0;
}

.button{
display:block;
background:#e52424;
color:white;
padding:16px;
text-align:center;
border-radius:12px;
font-weight:bold;
margin-top:20px;
}

.card{
background:#f5f5f5;
padding:18px;
border-radius:14px;
margin-top:15px;
}

.warning{
background:#302400;
color:#ffd34d;
padding:15px;
margin-top:20px;
border-radius:10px;
font-weight:bold;
}
